**/.DS_Store
work
.nextflow*
*timeline*
*trace*
workflow/work
workflow/nextflow
workflow/.nextflow*
workflow/*timeline*
workflow/*trace*
code/external/*
data/features/*
data/hg19/*
data/simulator/*
*.pyc
*.csv
*.html
notebooks/.ipynb_checkpoints/
jupytercert.pem
